<section id="contact" class="container animate-on-scroll my-5 text-center">
    <h2 class="fw-semibold">Get in Touch</h2>
    <p class="mt-3 mb-4">Let's connect and discuss how I can help your project succeed.</p>
    <div class="d-flex flex-wrap justify-content-center gap-3 text-center fs-5 mt-3">
        <a href="mailto:rushi@example.com" class="text-dark">
            <i class="fa-solid fa-envelope"></i> rushi.p.mashru@gmail.com
        </a>
        <a href="https://wa.me/917048311993" class="text-success" target="_blank">
            <i class="fab fa-whatsapp"></i> +91 7048311994
        </a>
        <a href="https://linkedin.com/in/rushimashru" class="text-primary" target="_blank">
            <i class="fab fa-linkedin"></i> LinkedIn
        </a>
    </div>
</section>